<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="student1" class="demoxml.dto.Student">
        <property name="id" value="1"/>
        <property name="name" value="student1"/>
    </bean>

    <bean id="student2" class="demoxml.dto.Student">
        <property name="id" value="2"/>
        <property name="name" value="student2"/>
    </bean>

    <bean id="k1" class="demoxml.dto.Klass">
        <property name="students">
            <list>
                <ref bean="student1"/>
                <ref bean="student2"/>
            </list>
        </property>
    </bean>

    <bean id="school" class="demoxml.dto.School">
        <property name="class1" ref="k1"></property>
        <property name="student" ref="student1"></property>
    </bean>
</beans>